*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  h1{
    font-size:50px;
    font-stretch: expanded;
  }
  body{
    width:100%;
    background-color: #9caf99;
    display: flex; /* Center the container */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body fills the viewport */
  }
  .loading-screen{
    background-color: #000000fb;
    display:block;
    position: absolute;
    z-index: 9999;
    width:105%;
    height: 105%;
    top: 0;
    left: 0;
    
  }
  .images{
    display:block;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 40%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: center;

    background-position-y: center;
    animation: load 2s linear infinite;
    animation-timing-function: steps(1);
  }
  @keyframes load {
    
    
    0%{
      background-image: url('src/IMG_6808.JPG');
      
    }
    12.5%{
      background-image: url('src/IMG_8020.JPG');
    }
    
    25%{
      background-image: url('src/IMG_8125.JPG');
    }
    37.5%{
      background-image: url('src/IMG_8181.jpg');
    }
    50%{
      background-image: url('src/IMG_8127.JPG');
    }
    62.5%{
      background-image: url('src/IMG_4547.jpeg');
    }
    
    75%{
      background-image: url('src/IMG_8130.JPG');
    }
    87.5%{
      background-image: url('src/IMG_8131.JPG');
    }
    100%{
      background-image: url('src/IMG_8132.JPG');
    }
    
  }
  .loader {
    border: 16px solid #525252; 
    border-top: 16px solid #afafaf; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 4s forwards;
    position: absolute;
    display: block;
    top: 48%;
    left: 48%;
  }
  .play {
    width: 0;
    height: 0;
    border: solid 18px;
    transform: rotate(90deg);
    border-color: transparent transparent #afafaf;
    position: absolute;
    top: 52%;
    left: 50.5%;
    display: block;
    opacity: 0%;
    animation: tri 4.5s forwards;
}

.play:hover{
  border-color: transparent transparent #e7e7e7;
  
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
      border: 16px solid #afafaf;
      
     }
}
@keyframes tri {
  0% { opacity: 0%; }
  66% { opacity: 0%; }
  100% { opacity: 100%; }
}

  .container {
    display: flex; /* Align text and image */
    align-items: center;
    justify-content: space-evenly; /* Space between text and image */
    left:-250px;
  }
  
  .main-title {
    display: inline-block; 
    transform: rotate(0deg); /* Initial rotation angle */
    animation: rotateText 1s forwards; /* Apply the animation */
    margin-top:100px;
    text-wrap: nowrap;
    position: absolute;
  }
  
  .main-image {
    display: inline-block;
    width: 25%; 
    margin-top: 50px; 
    margin-left: -175px;
    animation: hovering 1s infinite;
  }
  @keyframes hovering {
    0%{
      box-shadow: 0px 0px 5px black;
    }
    25%{
      box-shadow: 0px 0px 12.5px black;
    }
    50%{
      box-shadow:0px 0px 25px black;
    }
    75%{
      box-shadow: 0px 0px 12.5px black;
    }
    100%{
      box-shadow: 0px 0px 5px black;
    }
    
    
  }
  .main-image:hover{
    width: 25.25%;
    animation-play-state: paused;
  }
  
  /* Adjust the flip animation */
  .flip-container {
    perspective: 1000px; /* Perspective for 3D effect */
    display: inline-block;
  }
  
  .flipper {
    position: relative;
    width: 300px; /* Width of the flipper element */
    height: 200px; /* Height of the flipper element */
    transition: transform 0.6s; /* Smooth transition */
    transform-style: preserve-3d;
  }
  .flipped {
    transform: rotateY(180deg);
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back side until it's flipped */
  }
  .back{
    top: -150px;
  }
  
  /* Position the back content correctly */
  .back {
    transform: rotateY(180deg);
  }
  
  .back-content {
    text-align: center;
    padding: 20px;
  }
  @keyframes rotateText {
    0% {
        transform: rotate(0deg); /* Start from 0 degrees */
        opacity: 0; /* Start with 0 opacity */
    }
    100% {
        transform: rotate(-90deg); /* Rotate to 270 degrees */
        opacity: 1; /* Fully fade in */
    }
  }


.hidden-content {
    display: none; /* Hide the main content */
  }

  /* CSS */
  .card {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(148, 148, 148, 0.35) 0 -25px 18px -14px inset,rgba(148, 148, 148, 0.35) 0 1px 2px,rgba(148, 148, 148, 0.35) 0 2px 4px,rgba(148, 148, 148, 0.35) 0 4px 8px,rgba(148, 148, 148, 0.35) 0 8px 16px,rgba(148, 148, 148, 0.35) 0 16px 32px;
    color: #686969;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .active{
    box-shadow: rgba(64, 64, 65, 0.35) 0 -25px 18px -14px inset,rgba(155, 192, 149, 0.85) 0 1px 2px,rgba(155, 192, 149, 0.85) 0 2px 4px,rgba(155, 192, 149, 0.85) 0 4px 8px,rgba(155, 192, 149, 0.85) 0 8px 16px,rgba(64, 64, 65, 0.35) 0 16px 32px;
  }
  .card:hover {
    box-shadow: rgba(64, 64, 65, 0.35) 0 -25px 18px -14px inset,rgba(64, 64, 65, 0.35) 0 1px 2px,rgba(64, 64, 65, 0.35) 0 2px 4px,rgba(64, 64, 65, 0.35) 0 4px 8px,rgba(64, 64, 65, 0.35) 0 8px 16px,rgba(64, 64, 65, 0.35) 0 16px 32px;
    transform: scale(1.05) rotate(0.5deg);
  }
  .active:hover{
    box-shadow: rgba(64, 64, 65, 0.35) 0 -25px 18px -14px inset,rgba(155, 192, 149, 0.85) 0 1px 2px,rgba(155, 192, 149, 0.85) 0 2px 4px,rgba(155, 192, 149, 0.85) 0 4px 8px,rgba(155, 192, 149, 0.85) 0 8px 16px,rgba(64, 64, 65, 0.35) 0 16px 32px;
  }
  
  

  .white-card{
    width:800px;
    height: 600px;
    background-color: #b5b4b4;
    display: none;
  }

.below-container {
    position: relative; 
    top:40px;
  }
.cardDiv{
    position: absolute;
    margin-top: -620px;
}
.rightAB {
  width: 0;
  height: 0;
  border: solid 16px;
  transform: rotate(90deg);
  border-color: transparent transparent #525252;
  position: absolute;
  top: 50%;
  left: 96%;
  display: none;
}
.leftAB {
  width: 0;
  height: 0;
  border: solid 16px;
  transform: rotate(-90deg);
  border-color: transparent transparent #525252;
  position: absolute;
  top: 50%;
  display: none;
}
.rightPR {
  width: 0;
  height: 0;
  border: solid 16px;
  transform: rotate(90deg);
  border-color: transparent transparent #525252;
  position: absolute;
  top: 50%;
  left: 96%;
  display: none;
}
.leftPR {
  width: 0;
  height: 0;
  border: solid 16px;
  transform: rotate(-90deg);
  border-color: transparent transparent #525252;
  position: absolute;
  top: 50%;
  display: none;
}
.leftAB:hover,.rightAB:hover,.rightPR:hover,.leftPR:hover{
  border: solid 17px;
  border-color: transparent transparent #686969;
}
.head{
  position: absolute;
  display: none;
  font-size: 32px;
  color:#363636;
  top: 10%;
  left: 12.5%;
}
.desc{
  font-size: 20px;
  color:#413939;
  text-wrap:wrap;
  position: absolute;
  display: none;
  top: 30%;
  left: 12.5%;
  width: 37.5%;
}
.smallIMG{
  top: 20%;
  left: 52%;
  width: 37.5%;
  position: absolute;
  display: none;
}

.elfsight-app-fec4dc9c-6f75-4b7a-b602-82b9ac4dcba8{
  height: 600px;
  padding: 50px;
}